In [1]:
import pandas as pd
from pathlib import Path
import os

home = Path(os.path.abspath('..'))

In [2]:
columns = ['Account Title', 'Account #', 'Alt Item #', 'Depth', 'Balance', 'Category', 'Dimension 1', 'Dimension 2']
df = pd.read_csv( home / 'Data Sets' / 'chart_of_acoounts' / 'Basic with Alternative #-Table 1.csv',
  dtype={
      'Account Title': str,
      'Account #' : str,
      'Alt Item #' : str,
      'Depth' : int,
      'Balance' : str,
      'Category' : str,
      'Dimension 1' : str,
      'Dimension 2' : str
      }, 
  usecols=columns
)

df.fillna({'Category':'', 'Dimension1':'', 'Dimension2':''}, inplace=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Account Title  139 non-null    object
 1   Account #      139 non-null    object
 2   Alt Item #     139 non-null    object
 3   Depth          139 non-null    int64
 4   Balance        139 non-null    object
 5   Category       139 non-null    object
 6   Dimension 1    9 non-null      object
 7   Dimension 2    2 non-null      object
dtypes: int64(1), object(7)
memory usage: 8.8+ KB

In [4]:
df.head()

,Account Title,Account #,Alt Item #,Depth,Balance,Category,Dimension 1,Dimension 2
0,Assets,1,010000,0,Dr,,NaN,NaN
1,Cash And Financial Assets,1.1,010100,1,Dr,,NaN,NaN
2,Cash and Cash Equivalents,1.1.1,010101,2,Dr,Petty Cash,Checking,NaN
3,Financial Assets (Investments),1.1.2,010102,2,Dr,,NaN,NaN
4,Restricted Cash and Financial Assets,1.1.3,010103,2,Dr,"Amex HYSA, Amer 7133",Savings,NaN