In [1]:
import pandas as pd
#import os

from pathlib import Path

home = Path('..')

### Read the config file in the /instance folder to get the connection URI

In [2]:
config = {}
try:
    f = open( home / 'instance' / 'config.py')
    for line in f.readlines():
       s = line.split('=')
       config[s[0]] = s[1].replace("'",'').replace('\n', '')
       print(config)
except FileNotFoundError as fnfe:
    print(f'Config file open error: {fnfe.args}')

{'PGURI': 'postgresql://postgres:terces##@localhost:5432/finance'}
{'PGURI': 'postgresql://postgres:terces##@localhost:5432/finance', '#PGURI': 'postgresql://postgres:terces##@192.168.1.15:5432/finance'}

### Execute the query

In [3]:

f = open( home / 'queries' / 'get_voucher_details.sql')
stmt = f.read()
#print (stmt)
df = pd.read_sql(stmt, config['PGURI'])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662 entries, 0 to 661
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   voucher_date       662 non-null    object
 1   voucher_number     662 non-null    int64
 2   vendor_short_desc  662 non-null    object
 3   account_number     662 non-null    object
 4   split_seq_number   662 non-null    int64
 5   dimension_1        662 non-null    object
 6   dimension_2        485 non-null    object
dtypes: int64(2), object(5)
memory usage: 36.3+ KB

In [8]:
df_050101 = df.loc[df['dimension_1'] == 'Gift']

In [9]:
df_050101

,voucher_date,voucher_number,vendor_short_desc,account_number,split_seq_number,dimension_1,dimension_2
653,2022-12-24 09:17:00-06:00,1344,Target,050101,1,Gift,
655,2022-12-24 09:33:00-06:00,1342,Walgreens,050101,1,Gift,

In [29]:
df_050101.dimension_1.unique()

array(['Apple One', 'Business Expense', 'Wireless Service',
       'Subscription', 'Business Services', 'subscription', 'Annual Pass',
       'AWS', 'City Services', 'Domain Registration', 'Subscriptions',
       'Createive Cloud', 'Office', 'Annual Streaming', 'Utilities',
       'GoPro'], dtype=object)

In [20]:
df.account_number.unique()

array(['010101', '050101', '050102', '050103', '050104', '050107',
       '050201', '050202', '050203', '051010', '060101', '060102',
       '060202', '060308', '060310', '060311', '060401', '501010'],
      dtype=object)