In [6]:
import pandas as pd
from pathlib import Path
import os

home = Path(os.path.abspath('..'))

In [12]:
columns = ['Account Title', 'Account #', 'Alt Item #', 'Depth', 'Balance', 'Category', 'Dimension 1', 'Dimension 2']
df = pd.read_csv( home / 'Data Sets' / 'chart_of_acoounts' / 'chart_of_acoounts' / 'Basic with Alternative #-Table 1.csv',
  dtype={
      'Account Title': str,
      'Account #' : str,
      'Alt Item #' : str,
      'Depth' : int,
      'Balance' : str,
      'Category' : str,
      'Dimension 1' : str,
      'Dimension 2' : str
      }, 
  usecols=columns
)

df.fillna({'Category':'', 'Dimension1':'', 'Dimension2':''}, inplace=True)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3508, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/var/folders/hb/rg77cvs94cj4d3ry4mdmgn6h0000gn/T/ipykernel_37882/1095891410.py", line 2, in <module>
    df = pd.read_csv( home / 'Data Sets' / 'chart_of_acoounts' / 'chart_of_accounts' / 'Basic with Alternative #-Table 1.csv',
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/pandas/io/parsers/readers.py", line 912, in read_csv
    return _read(filepath_or_buffer, kwds)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/pandas/io/parsers/readers.py", line 577, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/pandas/io/parsers/readers.py", line 1407, in __init__
    self._engine = self._make_engine(f, self.engine)
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/pandas/io/parsers/readers.py", line 1661, in _make_engine
    self.handles = get_handle(
                   ^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/pandas/io/common.py", line 859, in get_handle
    handle = open(
             ^^^^^
FileNotFoundError: [Errno 2] No such file or directory: '/Users/edmundlskoviak/Documents/repos/finance_cmd/Data Sets/chart_of_acoounts/chart_of_accounts/Basic with Alternative #-Table 1.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 2105, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1396, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1287, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1140, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1030, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1127, in get_records
    res = list(stack_data.FrameInfo.stack_data(etb, options=options))[tb_offset:]
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/stack_data/core.py", line 597, in stack_data
    yield from collapse_repeated(
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/stack_data/utils.py", line 83, in collapse_repeated
    yield from map(mapper, original_group)
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/stack_data/core.py", line 587, in mapper
    return cls(f, options)
           ^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/stack_data/core.py", line 551, in __init__
    self.executing = Source.executing(frame_or_tb)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/executing/executing.py", line 378, in executing
    assert_(new_stmts <= stmts)
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/edmundlskoviak/Documents/repos/finance_cmd/vpython3.11/lib/python3.11/site-packages/executing/executing.py", line 154, in assert_
    raise AssertionError(str(message))
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AssertionError

In [10]:
df.info()

NameError: name 'df' is not defined

In [26]:
df.head()

,AccountTitle,LedgerAcct,AltLedgerAcct,Depth,Balance,Category,Dimension1,Dimension2
0,Assets,1,010000,0,Dr,,,
1,Cash And Financial Assets,1.1,010100,1,Dr,,,
2,Cash and Cash Equivalents,1.1.1,010101,2,Dr,"Petty Cash, Equity Purchase",Checking,
3,Financial Assets (Investments),1.1.2,010102,2,Dr,,,
4,Restricted Cash and Financial Assets,1.1.3,010103,2,Dr,"Amex HYSA, Amer 7133",Savings,

In [10]:
print((df['AccountTitle']))

0                                                 Assets
1                              Cash And Financial Assets
2                              Cash and Cash Equivalents
3                         Financial Assets (Investments)
4                   Restricted Cash and Financial Assets
                             ...
134    Intercompany And Related Party Income And Expense
135                Intercompany And Related Party Income
136              Intercompany And Related Party Expenses
137         Income (Loss) From Equity Method Investments
138      Acquisitions In Progress (Business Combination)
Name: AccountTitle, Length: 139, dtype: object

In [12]:
items = []
for item in df['AccountTitle']:
    items.append(len(str(item)))

print(max(items))

73

In [13]:
df.loc[:,'AltLedgerAcct'] = '0'+str(df.AltLedgerAcct)

In [14]:
df.head()

,AccountTitle,LedgerAcct,AltLedgerAcct,Depth,Balance,Category,Dimension1,Dimension2
0,Assets,1,00 10000\n1 10100\n2 10101\n3 ...,0,Dr,NaN,NaN,NaN
1,Cash And Financial Assets,1.1,00 10000\n1 10100\n2 10101\n3 ...,1,Dr,NaN,NaN,NaN
2,Cash and Cash Equivalents,1.1.1,00 10000\n1 10100\n2 10101\n3 ...,2,Dr,"Petty Cash, Equity Purchase",Checking,NaN
3,Financial Assets (Investments),1.1.2,00 10000\n1 10100\n2 10101\n3 ...,2,Dr,NaN,NaN,NaN
4,Restricted Cash and Financial Assets,1.1.3,00 10000\n1 10100\n2 10101\n3 ...,2,Dr,"Amex HYSA, Amer 7133",Savings,NaN