In [15]:
import pandas as pd
from pathlib import Path
import os

home = Path(os.environ['HOME']+'/Documents/repos/finance_cmd')

In [25]:
df = pd.read_csv( home / 'data' / 'chart_of_accounts.csv',
  dtype={'AltLedgerAcct': str}
)

df.fillna({'Category':'', 'Dimension1':'', 'Dimension2':''}, inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AccountTitle   139 non-null    object
 1   LedgerAcct     139 non-null    object
 2   AltLedgerAcct  139 non-null    object
 3   Depth          139 non-null    int64
 4   Balance        139 non-null    object
 5   Category       139 non-null    object
 6   Dimension1     139 non-null    object
 7   Dimension2     139 non-null    object
dtypes: int64(1), object(7)
memory usage: 8.8+ KB

In [26]:
df.head()

,AccountTitle,LedgerAcct,AltLedgerAcct,Depth,Balance,Category,Dimension1,Dimension2
0,Assets,1,010000,0,Dr,,,
1,Cash And Financial Assets,1.1,010100,1,Dr,,,
2,Cash and Cash Equivalents,1.1.1,010101,2,Dr,"Petty Cash, Equity Purchase",Checking,
3,Financial Assets (Investments),1.1.2,010102,2,Dr,,,
4,Restricted Cash and Financial Assets,1.1.3,010103,2,Dr,"Amex HYSA, Amer 7133",Savings,

In [10]:
print((df['AccountTitle']))

0                                                 Assets
1                              Cash And Financial Assets
2                              Cash and Cash Equivalents
3                         Financial Assets (Investments)
4                   Restricted Cash and Financial Assets
                             ...
134    Intercompany And Related Party Income And Expense
135                Intercompany And Related Party Income
136              Intercompany And Related Party Expenses
137         Income (Loss) From Equity Method Investments
138      Acquisitions In Progress (Business Combination)
Name: AccountTitle, Length: 139, dtype: object

In [12]:
items = []
for item in df['AccountTitle']:
    items.append(len(str(item)))

print(max(items))

73

In [13]:
df.loc[:,'AltLedgerAcct'] = '0'+str(df.AltLedgerAcct)

In [14]:
df.head()

,AccountTitle,LedgerAcct,AltLedgerAcct,Depth,Balance,Category,Dimension1,Dimension2
0,Assets,1,00 10000\n1 10100\n2 10101\n3 ...,0,Dr,NaN,NaN,NaN
1,Cash And Financial Assets,1.1,00 10000\n1 10100\n2 10101\n3 ...,1,Dr,NaN,NaN,NaN
2,Cash and Cash Equivalents,1.1.1,00 10000\n1 10100\n2 10101\n3 ...,2,Dr,"Petty Cash, Equity Purchase",Checking,NaN
3,Financial Assets (Investments),1.1.2,00 10000\n1 10100\n2 10101\n3 ...,2,Dr,NaN,NaN,NaN
4,Restricted Cash and Financial Assets,1.1.3,00 10000\n1 10100\n2 10101\n3 ...,2,Dr,"Amex HYSA, Amer 7133",Savings,NaN