In [14]:
import pandas as pd

In [15]:
stmt = """SELECT id
    ,account_number
    ,dimension_1
    ,dimension_2
from finance.voucher_detail
ORDER BY account_number;
"""

df = pd.read_sql(stmt, 'postgresql://postgres:terces##@localhost:5432/finance')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648 entries, 0 to 647
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              648 non-null    int64
 1   account_number  648 non-null    object
 2   dimension_1     648 non-null    object
 3   dimension_2     459 non-null    object
dtypes: int64(1), object(3)
memory usage: 20.4+ KB

In [17]:
df_050101 = df.loc[df['account_number'] == '050101']

In [18]:
df_050101

       id account_number dimension_1 dimension_2
0    5350         050101      Health
1       4         050101    software        None
2      28         050101     grocery        None
3      29         050101     grocery        None
4      30         050101     grocery        None
..    ...            ...         ...         ...
446  5172         050101     Grocery
447  5173         050101      Health
448  5174         050101     Grocery
449  5175         050101     Grocery
450  5176         050101     Grocery

[451 rows x 4 columns]